.grid-container {
    text-align: center;
    height: auto;
    width: auto;
}

.grid {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.grid-row {
    margin: 0px;
    position: relative;
    padding: 0px;
    display: flex;

}

/* .square {
    border: 1px solid rgb(211, 209, 209);
    display: grid;
    place-items: center;
} */

.board {
    --grid-size: 4; /* Start with 4x4 */
    display: grid;
    width: auto;
    height: auto;
    grid-template: repeat(var(--grid-size), 1fr) / repeat(var(--grid-size), 1fr);
  }