.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.left_side {
  display: flex;
  float: left;
  flex-direction: column;
  width: 20%;
}

.container {
  display: flex;
  justify-content: center;
  width: 70%;
  flex-direction: column;
}